2.1 Create variables for your name, age, and favorite color, then print them with descriptive labels

In [ ]:
name = "Hridoy Banik Akash"
age = 25
favourite_color= "Green"
print(f"Name: {name}")
print(f"Age: {age}")
print(f"Favourite Color: {favourite_color}")

Name: Hridoy Banik Akash
Age: 25
Favourite Color: Green

2.2.Create one variable of each type and use the type() function to verify its type

In [ ]:
integer = 5
float_num = 5.25
string = "Hridoy"
boolean = True
value = None

print(type(integer))
print(type(float_num))
print(type(string))
print(type(boolean))
print(type(value))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

2.3 Calculate the area and perimeter of a rectangle with length 10 and width 8

In [ ]:
length = float(input("Enter the length: "))
width = float(input("Enter the width: "))

#area and perimeter calculation
area = length * width
perimeter = 2*(length + width)

#print the result
print(f"The area of the rectange is {area}")
print(f"The perimeter of the rectangle is {perimeter}")

Enter the length: 10
Enter the width: 8
The area of the rectange is 80.0
The perimeter of the rectangle is 36.0


2.4.Create a list of 5 Bangladeshi foods, then access the first and last elements.

In [ ]:
food_list = ["biriyani","butter chicken","Kacchi","polao","Curd","sweets"]
length = len(food_list)
print(food_list[0])
print(food_list[length-1])

biriyani
sweets


2.5 Create a list of 5 numbers, add a new number, remove one, and then sort the list.

In [ ]:
lists = [44,23,54,6,33]
print("Before any operation")
print(lists)
lists.append(34)
print("After adding a new number")
print(lists)
lists.remove(54)
print("After remove operation")
print(lists)
lists.sort()
print("After sort")
print(lists)
#if we wanted to sort this in reverse order
lists.reverse()
print("After reverse operation")
print(lists)

Before any operation
[44, 23, 54, 6, 33]
After adding a new number
[44, 23, 54, 6, 33, 34]
After remove operation
[44, 23, 6, 33, 34]
After sort
[6, 23, 33, 34, 44]
After reverse operation
[44, 34, 33, 23, 6]

2.6 Create a dictionary about yourself with at least 4 key-value pairs

In [ ]:
dictio = {
    "name" : "Hridoy Banik Akash",
    "age" : 25,
    "Occupation" : "Student",
    "passion" : "Machine Learning"
}
print(dictio)

{'name': 'Hridoy Banik Akash', 'age': 25, 'Occupation': 'Student', 'passion': 'Machine Learning'}

2.7 Create a tuple with the latitude and longitude of a famous place in Bangladesh.

In [ ]:
lat = ("22° 12' 0 N","21.4272° N")
long = ("92° 13' 0 E","92.0061°E")
print(type(lat))
print(type(long))

<class 'tuple'>
<class 'tuple'>


2.8 Create two sets of colors and find their union and intersection

In [ ]:
color1 = {"Red","Green","Blue"}
color2 = {"Yellow","Pink","Black"}
print(color1 | color2)
print(color1 & color2)

{'Green', 'Pink', 'Yellow', 'Blue', 'Red', 'Black'}
set()

Write a program that checks if a number is positive, negative, or zero

In [ ]:
num = int(input("Enter the number: "))
if num == 0:
  print(f"The num is Zero")
elif num<0:
  print("The num negative")
else:
  print("The num is positive")

Enter the number: 0
The num is Zero

Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60)

In [2]:
status = int(input("""
Mention your status:
If you're a student : press 1,
If you're not a student : press 2
"""))
if status == 1:
  print("Student Discount Applied")
elif status == 2:
  status2 = int(input("""
  What's your age?
  Press 1 if you are under or equal to 25
  press 2 if you are bigger than 25 and less than 60
  Press 3 if you are bigger than 60
  """))
  if status2 == 1:
    print("Junior Discount applied")
  elif status2 == 2:
    print("Sorry! No discount applied")
  elif status == 3:
    print("Senior Discount applied")
  else:
    print("You've pressed wrong button; Press again")
else:
  print("You've pressed wrong button; Press again")

Mention your status:
If you're a student : press 1,
If you're not a student : press 2
2

  What's your age?
  Press 1 if you are under or equal to 25
  press 2 if you are bigger than 25 and less than 60
  Press 3 if you are bigger than 60
  2
Sorry! No discount applied

Write a program that prints the first 10 even numbers using a for or while loop

In [10]:
count = 0
for i in range(100):
  if i % 2 == 0:
    count += 1
    print(i)
  if count > 9:
    break

0
2
4
6
8
10
12
14
16
18

Write a program that prints a simple number pyramid pattern using nested loops.

In [11]:
rows = 5
for i in range(1, rows + 1):
    for space in range(rows - i):
        print(" ", end="")
    for num in range(1, i + 1):
        print(num, end=" ")

    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

 Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32

In [12]:

c=float(input("Enter the value of Celcius: "))
f=(c*(9/5)+32)
print("Fahrenheit",f)

Enter the value of Celcius: 45
Fahrenheit 113.0

Create a function with default parameters that calculates the area of a rectangle.

In [13]:

def rectangle_area(length=1, width=1):
    area = length * width
    return area

print(rectangle_area())
print(rectangle_area(5))
print(rectangle_area(5, 3))

1
5
15